# Django / Python
db.sqlite3

# Environment & dependencies
.venv/
.env

# Static & media (optional if generated or large)
media/

# VS Code / IDE
.vscode/
.idea/

# pytest / coverage / test artifacts
.pytest_cache/

# ruff
.ruff_cache/

# dummy data
dummy_data.json