[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>=5.2.8",
    "python-dotenv>=1.2.1",
    "ruff>=0.14.7",
    "stripe>=14.0.1",
]
